<p>mytest works!</p>
<!--<form (ngSubmit)="Like()">
  <button type="submit" name="like" #like="ngModel" [(ngModel)]="liked">
   {{"Like"+"|"}}{{liked|json}}
  </button>
</form>
<br>
<form (ngSubmit)="Dislike()">
  <button type="submit" name="dislike" #dislike="ngModel" [(ngModel)]="disliked">
   {{"Disike"+"|"}}{{disliked|json}}
  </button>
</form>
<button (click)="Like()">
    {{"Like"+"|"}}{{liked|json}}
   </button>{{"  "}}
   <button (click)="Dislike()">
    {{"Disike"+"|"}}{{disliked|json}}
   </button>
<span (click)="incrementCount()">counter:{{counter}}</span>
<ng-template [ngIf]="counter > 4">
    <p>The click counter <strong>IS GREATER</strong> than 4.</p>
</ng-template>
<span *ngIf="counter>4">The greater than 5</span>-->
<select [value]="selectedOption">
  <option *ngFor = "let i of months">{{i}}</option>
</select>

